.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  margin-bottom: 40px;
}

.upload-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.demo-cropped-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 8px;
}